/****** Styles globaux ******/

/* Style du body et du header */
body header {
    flex-direction: column;
    margin: 0;
}

/****** Header en mode édition ******/

/* Bannière de mode édition */
.editMode-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: black;
    color:white;
    gap: 10px;
}

/* Contenu du header en mode édition */
.editMode-header {
    display: flex;
	justify-content: space-between;
	margin: 50px 0
}

/* Titre des projets en mode édition */
.editMode-titleProjects {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

/* Style du lien et du texte de modification des projets */
.editMode-titleProjects a, span {
    margin-bottom: 30px;
}

/* Lien de modification des projets */
.editMode-titleProjects a {
    text-decoration: none;
    color: black;
}

/****** Main Section en mode édition ******/

/****** Modale ******/

/* Section de la modale */
.modal-section {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    z-index: 1000;
}

/* Conteneur de la modale */
.modal-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 560px;
    background-color: white;
    border-radius: 8px;
    padding: 30px 100px;
    position: relative;
    min-height: 650px;
    max-height: 100vh;
    overflow-y: auto; 
}

/* Bouton de fermeture de la modale */
.js-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: #000000;
}

/* Titre de la modale */
.modal-div h2 {
    color: black;
    font-family:"work sans";
    font-weight: 100;
    font-size: 24px;
    margin: 40px 0;
}

/* Galerie de la modale */
.modal-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px 0;
    width: 100%;
    margin-bottom: 20px;
    max-height: 500px;
    overflow-y: auto;
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 60px;
}

/* Image dans la galerie de la modale */
.modal-gallery img {
    width: 100%;
    height: auto;
}

/* Lien de la modale */
.modal-div a {
    height: 40px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: 'Syne', sans-serif;
    color: white;
    background-color: #1D6154;
    margin: 20px 0;
    width: 250px;
    text-align: center;
    border-radius: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Effet au survol du lien de la modale */
.modal-div a:hover {
    background-color: #15543b;
}

/* Vue des modales */
.modal-view {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Vue active de la modale galerie */
.modal-view.active {
    display: flex;
}

/* Conteneur des éléments dans la galerie de la modale */
.modal-gallery figure {
    position: relative;
    margin: 10px;
}

/* Conteneur de l'icône de suppression dans la galerie de la modale */
.modal-gallery span {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    border-radius: 12%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icône de suppression dans la galerie de la modale */
.modal-gallery .fa-trash-can {
    font-size: 10px;
    color: white;
    cursor: pointer;
}

/* Vue active pour la galerie et l'ajout de photo */
#view-gallery.active, #view-add-photo.active {
    display: flex;
}

/* Formulaire de la modale pour ajouter une photo */
.modal-view form {
    width: 100%;
}

/* Bouton de retour en arrière dans la modale d'ajout de photo */
.js-back {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: #000000;
}

/* Formulaire d'ajout de photo */
#add-photo-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Conteneur du formulaire d'ajout de photo */
.uploadForm-div {
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 30px;
    width: 100%;
}

/* Conteneur du téléchargement de photo */
.upload-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #E8F1F6;
    height: 230px;
    border-radius: 5px;
}

/* Icône de l'image dans le conteneur de téléchargement */
.fa-image {
    font-size: 6rem;
}

/* Label pour le téléchargement de photo */
.upload-label {
    display: flex;
    justify-content: center;
    background-color: #CBD6DC;
    color: #306685;
    font-size: medium;
    cursor: pointer;
    width: 40%;
    border-radius: 50px;
    padding: 15px 0;
    margin: 10px 0;
}

/* Image dans le conteneur de téléchargement de photo */
.upload-div img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

/* Texte d'information sur les formats d'image */
.upload-div p {
    color: #444444;
}

/* Label des champs du formulaire */
.uploadForm-div label {
    color: #306685;
    font-size: 16px;
    font-weight: 500px;
}

/* Icône pour supprimer l'image */
.upload-div .remove-image-icon {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); /* Centre l'icône horizontalement */
    background-color: white;
    font-size: 16px;
    color: red; 
    border: 1px solid white; 
    padding: 5px;
    cursor: pointer;
    display: none; 
    transition: background-color 0.3s, color 0.3s;
}

/* Effet au survol de l'icône pour supprimer l'image */
.upload-div .remove-image-icon:hover {
    background-color: red; 
    color: white; 
    border: 1px solid red;
}

/* Champs de saisie et de sélection dans le formulaire d'ajout de photo */
.uploadForm-div input,
.uploadForm-div select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.9);
    border: none;
    background-color: white;
    height: 55px;
    cursor: pointer;
}

/* Bouton de validation du formulaire d'ajout de photo */
.submit-btn {
    height: 40px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: 'Syne', sans-serif;
    color: white;
    background-color: #A7A7A7;
    margin: 30px 0;
    width: 250px;
    text-align: center;
    border-radius: 60px;
    text-decoration: none;
    cursor: not-allowed;
}

/* Style actif du bouton de validation du formulaire d'ajout de photo */
.submit-btn.active {
    background-color: #1D6154; 
    color: #fff; 
    border: 1px solid #1D6154;
    cursor: pointer;
}

