/****** Mode édition - Styles gobales ******/

body header {
    flex-direction: column;
    margin:0px;
}

/****** Mode édition - Header ******/

.editMode-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: black;
    color:white;
    gap: 10px;
}

.editMode-header {
    display: flex;
	justify-content: space-between;
	margin: 50px 0
}
.editMode-titleProjects {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

/****** Mode édition - Main Section ******/
/* Introduction  */

/* Portfolio */


.editMode-titleProjects a, span {
    margin-bottom: 30px;
}

.editMode-titleProjects a {
    text-decoration: none;
    color: black;
}

/****** Mode édition - Modale ******/

.modal-section {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    z-index: 1000;
}

.modal-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 560px;
    background-color: white;
    border-radius: 8px;
    padding: 30px 100px;
    position: relative;
    min-height: 650px;
    max-height: 100vh;
    overflow-y: auto; 
}

.js-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: #000000;
}

.modal-div h2 {
    color: black;
    font-family:"work sans";
    font-weight: 100;
    font-size: 24px;
    margin: 40px 0;
}

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 30px 10px;
    width: 100%;
    margin-bottom: 20px;
    max-height: 500px;
    overflow-y: auto;
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 60px;
}

.modal-gallery img {
    width: 100%;
    height: auto;
}

.modal-div a {
    height: 40px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: 'Syne', sans-serif;
    color: white;
    background-color: #1D6154;
    margin: 20px 0;
    width: 250px;
    text-align: center;
    border-radius: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-div a:hover {
    background-color: #15543b;
}

.modal-view {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-view.active {
    display: flex;
}

#view-gallery.active, #view-add-photo.active {
    display: flex;
}

.modal-view form {
    width: 100%;
}

.js-back {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: #000000;
}

#add-photo-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadForm-div {
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 30px;
    width: 100%;
}

.upload-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #E8F1F6;
    height: 230px;
    border-radius: 5px;
}

.fa-image {
    font-size: 6rem;
}

.upload-label {
    display: flex;
    justify-content: center;
    background-color: #CBD6DC;
    color: #306685;
    font-size: medium;
    cursor: pointer;
    width: 40%;
    border-radius: 50px;
    padding: 15px 0;
    margin: 10px 0;
}

.upload-div img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.upload-div p {
    color: #444444;
}

.uploadForm-div label {
    color: #306685;
    font-size: 16px;
    font-weight: 500px;
}

.upload-section p {
    font-size: 12px;
    color: #a8a8a8;
}

.upload-div .remove-image-icon {
    position: absolute; /* Position absolue pour superposer le bouton */
    bottom: 10px; /* Position en bas */
    left: 50%; /* Aligner horizontalement au centre */
    transform: translateX(-50%); /* Centre l'icône horizontalement */
    background-color: rgba(255, 255, 255, 0.5); /* Fond transparent */
    font-size: 16px;
    color: #1D6154; /* Couleur du texte */
    border: 1px solid #1D6154; 
    padding: 8px;
    cursor: pointer;
    display: none; /* Masqué par défaut */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de style */
}

.upload-div .remove-image-icon:hover {
    background-color: #1D6154; /* Couleur de fond au survol */
    color: white; /* Couleur du texte au survol */
    border: 1px solid #1D6154;
}

.uploadForm-div input,
.uploadForm-div select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.9);
    border: none;
    background-color: white;
    height: 55px;
    cursor: pointer;
}

.submit-btn {
    height: 40px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: 'Syne', sans-serif;
    color: white;
    background-color: #A7A7A7;
    margin: 30px 0;
    width: 250px;
    text-align: center;
    border-radius: 60px;
    text-decoration: none;
    cursor: not-allowed;
}

.submit-btn.active {
    background-color: #1D6154; /* Couleur de fond pour le bouton actif */
    color: #fff; /* Couleur du texte pour le bouton actif */
    border: 1px solid #1D6154; /* Bordure bleue */
    cursor: pointer;
}

.modal-gallery figure {
    position: relative;
    margin: 10px;
}

.modal-gallery span {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    border-radius: 12%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-gallery .fa-trash-can {
    font-size: 10px;
    color: white;
    cursor: pointer;
}